*.swp
*.swm
*.swn
*.swo
server.sock
.tmp/
.sql/
t/
gfx/
gfx/*
script/*.sh
Changes
.dbic.trace.out
sql/quran.sql
.server.debug.log
.database.debug.log
log/
root/static/images/ayat/*
root/static/images/icons/*
root/static/audio/*
root/static/audio_and_fonts_directories.tar.gz
root/.cache/
root/.cache/*
*.vim
test.pl
.htaccess*
sql/*
*.bz2
db/*
root/static/dev/*
dev/javascript/dist/*
root/static/.csstidy/*
root/static/audio
root/static/js/screen.js
quran.conf
root/auth/*
.dev.database.dump.tar.bz2
.20_beta.quran.com.conf
script/sync.beta.quran.com.sh
lib/Quran.tmp
*.swl
.*.log
important/
quran.yml
jira/
*/.git/*
